th:nth-child(1), th:nth-child(2) {
  width: 170px;
  text-align: start;
}

td {
  text-align: center;
}

td:nth-child(1), td:nth-child(2) {
  text-align: start;
}

.row-expanded {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.expanded-title {
  font-size: 12px;
}
