<div class="row">
  <div class="col-7 pl-2">
    <div class="row">
      <div class="col pr-2">
        <div class="shadow-sm card">
          <div class="card-body line-chart-container">
            <app-line-chart
              chartId='line-total-quantity'
              [chartData]='totalQuantityChartData'
              [chartLabels]='totalQuantityChartLabels'
              chartTitle='Quantidade Total'
              darkColor='#3DC2A8'
              lightColor='#E4F4F1'>
            </app-line-chart>
          </div>
        </div>
      </div>
      <div class="col pr-2">
        <div class="shadow-sm card">
          <div class="card-body line-chart-container">
            <app-line-chart
              chartId='line-total-amount'
              [chartData]='totalAmountChartData'
              [chartLabels]='totalAmountChartLabels'
              chartTitle='Valor total'
              darkColor='#BDAA66'
              lightColor='#faf8ef'>
            </app-line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 pr-2">
    <div class="shadow-sm card pl-3">
      <div class="card-body">
        <app-area-goods-rights chartId='app-area-goods-rights'></app-area-goods-rights>
      </div>
    </div>
  </div>
</div>
