<div class="container">
  <div class="container-chart">
    <canvas [id]="chartId">{{ chartAmount }}</canvas>
    <div class="container-title">
      <p class="chart-title-value"><span>{{titleChartValue}}</span></p>
      <p class="chart-title">Total</p>
    </div>
    <div class="row mt-5" style="width: 60%; margin: auto;">
      <div class="col-4">
        <div class="color-container">
          <div style="width: 18px; height: 6px; border-radius: 3px; background-color: #131BAA; margin: auto;"></div>
          <label>Finame</label>
        </div>
      </div>
      <div class="col-4">
        <div class="color-container">
          <div style="width: 18px; height: 6px; border-radius: 3px; background-color: #ED9A0D; margin: auto;"></div>
          <label>BNDES</label>
        </div>
      </div>
      <div class="col-4">
        <div class="color-container">
          <div style="width: 18px; height: 6px; border-radius: 3px; background-color: #00BFBF; margin: auto;"></div>
          <label>Outros</label>
        </div>
      </div>
    </div>
  </div>
</div>
