<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Deletar</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deseja deletar esse item?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClose()" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onConfirm()">Deletar</button>
  </div>
</div>
