.table th {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding-top: 0.25rem;
}

.table td {
  text-align: center;
}

.td-action {
  display: flex !important;
  border-bottom: none !important;
}

td > button {
  position: relative;
  transform: translateY(60%);
}

td > i {
  position: relative;
  transform: translateY(75%);
}

td > i,
.fa {
  line-height: revert;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 105px;
}

.distribution-row {
  background-color: rgba(242, 242, 242, 0.741176470588235);
  margin-bottom: 5px;
  height: 56px;
}

.distribution-row-text {
  line-height: 56px;
}
