
<div class="sidenav">
  <a routerLink="" routerLinkActive="active"><img src="../../../assets/ic_grid.svg" width="40" height="40"/></a>
  <a routerLink="patrimonial/imoveis-rurais" routerLinkActive="active"><img src="../../../assets/ic_info_patrimoniais.svg" /></a>
  <a routerLink="financeiro/fluxo-comparativo" routerLinkActive="active"><img src="../../../assets/ic_info_financeira.svg" /></a>
  <a routerLink="financeiro/fluxo-caixa-projecao" routerLinkActive="active"><img src="../../../assets/ic_fluxo-caixa.svg" /></a>
  <a routerLink="financeiro/balanco-projecao" routerLinkActive="active"><img src="../../../assets/ic_balanco.svg" /></a>
  <a routerLink="financeiro/analise-premissa" routerLinkActive="active"><img src="../../../assets/ic_analises.svg" /></a>
</div>

<div class="navbar-dark bg-primary fixed-top" style="height: 70px;">
  <nav class="navbar navbar-expand-md container" style="flex-direction: row; padding: 0px">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">
      <img
        class="img-fluid img-nav"
        src="../../../assets/logo.png"
        alt="Rabobank"
      >
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto user">
        <li class="nav-item">
          <img width="32" height="32" src="../../../assets/img_user.png"/>
          <span class="user-name">
            Olá, <strong>Usuario</strong><i class="fas fa-chevron-down"></i>
          </span>
        </li>
      </ul>
    </div>
  </nav>

</div>


<div class="main-container fixed-top" style="margin-top: 70px;" >
  <div class="container header-container">
    <p class="page-title mb-0">Informações Patrimoniais - Titulo da pagina</p>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Breadcrumb 1</a></li>
        <li class="breadcrumb-item active" aria-current="page">Breadcrumb 2</li>
      </ol>
    </nav>
  </div>
</div>

<div style="height: 75px;"></div>
