<div class="main-container">
  <p class="title-legend text-left mb-2">{{ chartTitle }}</p>
  <div class="container-title">
    <div class="row mb-3 justify-content-between">
      <p class="date-legend">2018/2019</p>
      <p class="total-value-legend">R$ {{ totalValues() }}</p>
    </div>
    <div class="row mb-3 justify-content-between">
      <p class="date-legend">2019/2020</p>
      <p class="total-value-legend">R$ {{ totalValues() }}</p>
    </div>
    <div class="row mb-3 justify-content-between">
      <p class="date-legend">2020/2021</p>
      <p class="total-value-legend">R$ {{ totalValues() }}</p>
    </div>
  </div>
  <div class="container-chart" *ngIf="chartId !== ''">
    <canvas [id]="chartId">{{ lineChart }}</canvas>
  </div>
</div>
